<div class="container">
	<div class="row">
		
		<div class="col-xs-2 ">
			<h2>Cash</h2>
			{{date | date:'MMM d, yyyy'}}
		</div>
		<div class="col-xs-2">
			<h2>5 YR</h2>
		</div>
		<div class="col-xs-2">
			<h2>10 YR</h2>
		</div>
		<div class="col-xs-2">
			<h2>20 YR</h2>
		</div>
		<div class="col-xs-2">
			<h2>30 YR</h2>
		</div>
	</div>
	<div class="row">
		
		<div class="col-xs-2 ">
			<h2>2 YR</h2>
		</div>
		<div class="col-xs-2">
			<spread model="model[0]"></spread>
		</div>
		<div class="col-xs-2">
			<spread model="model[1]"></spread>
		</div>
		<div class="col-xs-2">
			<spread model="model[2]"></spread>
		</div>
		<div class="col-xs-2">
			<spread model="model[3]"></spread>
		</div>
	</div>
	<div class="row">
		
		<div class="col-xs-2 col-xs-offset-2">
			<h2>5 YR</h2>
		</div>
		
		<div class="col-xs-2">
			<spread model="model[4]"></spread>
		</div>
		<div class="col-xs-2">
			<spread model="model[5]"></spread>
		</div>
		<div class="col-xs-2">
			<spread model="model[6]"></spread>
		</div>
	</div>
	<div class="row">
		
		<div class="col-xs-2 col-xs-offset-4">
			<h2>10 YR</h2>
		</div>
		
		<div class="col-xs-2">
			<spread model="model[7]"></spread>
		</div>
		<div class="col-xs-2">
			<spread model="model[8]"></spread>
		</div>
	</div>
	<div class="row">
		
		<div class="col-xs-2 col-xs-offset-6">
			<h2>20 YR</h2>
		</div>
		<div class="col-xs-2">
			<spread model="model[9]"></spread>
		</div>
		
	</div>
</div>