<!doctype html>
<html>
<head>
	<link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css">
	<link rel="stylesheet" href="../css/main.css">
	<script src="../scripts/geometry.js"></script>
	<script src="../scripts/desktop-adapter.js"></script>
	<script src="../scripts/drop-target.js"></script>
	<style>
			body {
				padding: 0;
				overflow: hidden;
				margin: 0;
				-webkit-app-region: drag;
				pointer-events: all;
			}
			input {
				-webkit-app-region: no-drag;
				pointer-events: all;
			}
		</style>
	
</head>
<body>
	
	
</body>
</html>